.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.app-title {
  font-size: 28px;
  text-align: center;
  margin: 0;
}

.app-title a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 688px) {
  .header {
    margin: 16px;
  }
}
