.article {
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  margin-top: 16px;
  border-radius: 8px;
}

.article-title {
  font-size: 24px;
  margin-bottom: 0px;
}

.article-content {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.article-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.author {
  margin-right: 10px;
}

.date {
  opacity: 0.7;
}
