.article-grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (min-width: 1160px) {
  .article-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-card {
    margin: 0 16px;
  }
}

@media screen and (max-width: 1159px) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .article-card {
    margin: 0 16px;
  }
}

@media screen and (max-width: 688px) {
  .article-grid {
    grid-template-columns: 1fr;
  }

  .article-card {
    margin: 0 16px;
  }
}
